<div class="container">
    <div class="top-content">
        <div class="top-content-image">
            <img src="./foto-grupo-rotaract.png" alt="">
        </div>
        <div class="top-content-text">
            <div class="top-content-title">
                <h1>QUEM SOMOS</h1>
            </div>
            <div class="top-content-paragraph">
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit eu ante a commodo. Vivamus hendrerit urna vel velit auctor, vitae dapibus nulla venenatis. Suspendisse dapibus condimentum viverra. Curabitur vulputate nunc eu posuere blandit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam posuere iaculis semper. Duis posuere in nibh vel imperdiet. Morbi sodales ligula at sem porttitor, tincidunt commodo ligula convallis. Phasellus laoreet rutrum dapibus. Maecenas semper lectus in auctor rutrum. Fusce interdum maximus nulla, eu ullamcorper ipsum tristique quis. Pellentesque ultricies faucibus ipsum non dictum.
                </p>
            </div>
        </div>
    </div>
    <div class="bottom-content">
        <div class="top-content-paragraph">
            <p class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit eu ante a commodo. Vivamus hendrerit urna vel velit auctor, vitae dapibus nulla venenatis. Suspendisse dapibus condimentum viverra. Curabitur vulputate nunc eu posuere blandit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam posuere iaculis semper. Duis posuere in nibh vel imperdiet. Morbi sodales ligula at sem porttitor, tincidunt commodo ligula convallis. Phasellus laoreet rutrum dapibus. Maecenas semper lectus in auctor rutrum. Fusce interdum maximus nulla, eu ullamcorper ipsum tristique quis.
Pellentesque ultricies faucibus ipsum non dictum. Etiam tincidunt elit ac ligula euismod gravida. Praesent commodo ullamcorper dosie.
            </p>
        </div>
    </div>
</div>
