<div class="container">
        <div class="top-content">
            <div class="top-content-title-mobile">
                    <h1>QUEM SOMOS ?</h1>
                </div>
            <div class="top-content-image">
                <img src="./foto-grupo-rotaract-about-us.png" alt="">
            </div>
            <div class="top-content-text">
                <div class="top-content-title">
                    <h1>QUEM SOMOS</h1>
                </div>
                <div class="top-content-paragraph">
                    <p class="paragraph">
                        O Rotaract Club de Curitiba Parque Barigui foi refundado em 21 de outubro de 2024, por Luiz Eduardo Zabroski, Ian Felipe Ferreira Evangelista, Arthur de Almeida Ortiz e Luiz Antônio Gonçalves, em Curitiba, Paraná, Brasil. A ideia surgiu a partir de Luiz e Ian, que tinham como objetivo principal devolver um pouco daquilo que o Rotary lhes havia dado, em forma de projetos humanitários e doações, para ajudar aqueles que mais precisam.
                        Sendo um clube majoritariamente formado por jovens de 20 anos de idade ou menos, prezamos por projetos inovadores, onde possamos tirar o máximo proveito e causemos o maior impacto possível na comunidade.
                    </p>
                </div>
            </div>
        </div>
    <div class="bottom-content">
        <div class="top-content-paragraph">
            <p class="paragraph">
                Também valorizamos transparência e comunicação/networking entre pessoas, defendendo que boas relações sociais podem impactar muitas vidas!
                <br>
                Nossas reuniões ocorrem de forma quinzenal (com algumas exceções), aos domingos, 18h, no Instituto Sócrates (Centro).
                <br>
                Quer juntar-se a nós? Clique aqui e entre em contato conosco!
                Quer saber mais sobre o nosso clube? Selecione aqui o que gostaria de ver:
            </p>
        </div>
    </div>
</div>
