.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12vh;
    width: 100%;
    color: var(--main-text-color);
}

.left-card, .right-card{
    background-color: var(--puple-color);
    border-radius: 0vh 0 3vh 3vh;
}

.left-card{
    margin-left: 3vw;
}
.left-card img{
    height: 10vh;
    width: 10vw;
    margin-top: 0;
    margin: 0 1vw;
    padding: 0;
}
.right-card{
    display: flex;
    margin-right: 3vw;
    align-items: center;
}
.list-links{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 3vh;
    margin: 3vh 0;
}
.list-element{
    margin: 0 1vw;
}
.list-element a{
    text-decoration: none;
    color: var(--main-text-color);
}
.list-element a:hover{
    text-decoration: none;
    color: #641964;
}
.list-element a:active{
    text-decoration: underline;
    color: #300d30;
}
.container-menu button{
        background: none;
        border: none;
        box-shadow: none;
        color: inherit;
        padding: 0;
        font: inherit;
        cursor: pointer;
    }
.bi{
    color: var(--main-text-color);
    height: 9vh;
    width: 9vh;
}
.card-menu{
    display: none;
}

@media (max-width: 600px){
    .left-card{
        margin-left: 1vw;
        transition: transform 0.3s;
    }
    .container-links{
        display: none;
    }
    .left-card img{
        height: 10vh;
        width: 40vw;
    }
    .right-card{
        margin-right: 1vw;
        transition: transform 0.3s;
    }
    .card-menu{
        display: flex;
        justify-content: center;
        width: 100vw;
        height: fit-content;
        background-color: var(--puple-color);
        transform: translateY(0vh);
        transition: transform 0.3s;
    }
    .list-links{
        flex-direction: column;
    }
    .translate{
        transition: transform 0.3s;
        transform: translateY(-21vh);
    }
    .list-element{
        margin: 0.5vh 0.5vh;
    }
}