 <div class="card-menu" id="menu-links">
    <ul class="list-links" >
        <li class="list-element">
            <a [routerLink]="['/about-us']">QUEM SOMOS</a>
        </li>
        <li class="list-element">
            <a [routerLink]="['/{{links[1]}}']">TRANPARÊNCIA</a>
        </li>
        <li class="list-element">
            <a [routerLink]="['/{{links[2]}}']">CONTATO</a>
        </li>
    </ul>
</div>

<header>
    <nav class="nav-bar">
        <div class="left-card" id="nav-bar">
            <div class="logo">
                <a [routerLink]="['/']">
                    <img src="logo.svg" alt="aa">
                </a>
            </div>
        </div>
        <div class="right-card" id="menu-btn">
            <div class="container-links">
                <ul class="list-links" >
                    <li class="list-element">
                        <a [routerLink]="[links[0]]">QUEM SOMOS</a>
                    </li>
                    <li class="list-element">
                        <a [routerLink]="[links[1]]">TRANPARÊNCIA</a>
                    </li>
                    <li class="list-element">
                        <a [routerLink]="[links[2]]">CONTATO</a>
                    </li>
                </ul>
            </div>
            <div class="container-menu">
                <button (click)="openCloseMenu()" (drag)="openCloseMenu()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </button>
            </div>
        </div>
    </nav>
</header>

