footer{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 10vh;
    height: 10vh;
    background-color: var(--puple-color);
}
.footer-links{
    display: flex;
    flex-direction: row;
    align-items: center;
        margin-right: 3vh;
}
.bi{
    margin: 1vh 1vh;
    color: rgb(253, 253, 253);
    height: 6vh;
    width: 6vh;
}