<p-card
[style]="{ 'justify-self': 'center', minWidth: '290px', width: '25dvw', overflow: 'hidden', maxHeight: '650px' }">
    <ng-template #header>
        <img class="member-image" [src]="'members/' + image" [alt]="'picture of member ' + name">
    </ng-template>
    <ng-template #title> {{name}} </ng-template>
    <ng-template #subtitle>{{ role == "" ? "Membro": role }} do clube rotaract </ng-template>
    <p class="description">
        {{description}}
    </p>
    <ng-template #footer>
    </ng-template>
</p-card>