.container{
    width: 65vw;
    margin: auto;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
@media (max-width: 600px){
    .container{
        width: 95vw;
    }
}