.bg-img{
    background-image: url('./assets/bg-image.png');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.top-container{
    width: 100vw;
    height: 80vh;
}

@media(max-width: 600px){
    .bg-img{
        height: 40vh;
    }
    .top-container{
        width: 100vw;
        height: 45vh;
    }
}
