.bg-img{
    background-image: none
}
.top-container{
    width: 100vw;
    height: 80vh;
}
@media(max-width: 600px){
    .bg-img{
        height: 90vh;
    }
    .top-container{
        height: 50%;
    }
}