h2, p{
    color: var(--puple-color);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}
.container-text{
    display: flex;
    flex-direction: column;
    width: 80vw;
}
