<div class="container">
    <div class="container-text">
        <div class="container-text-title">
            <h2>O QUE É O ROTARACT?</h2>
        </div>
        <br>
        <div class="container-text-body">
            <p>O Rotaract é um programa de voluntariado ligado ao Rotary International, criado para reunir jovens adultos que desejam desenvolver 
                habilidades de liderança, realizar ações sociais e promover mudanças positivas em suas comunidades e no mundo. É um espaço onde jovens, 
                geralmente entre 18 e 30 anos (embora essa idade possa variar de acordo com o clube), se reúnem para crescer pessoal, profissional 
                e socialmente, enquanto contribuem ativamente para a construção de uma sociedade mais justa, empática e solidária.
            </p>
            <br>
            <br>
            <p>
                Mais do que apenas um clube de serviços, o Rotaract é uma escola de cidadania, onde os membros aprendem na prática valores como 
                responsabilidade, ética, trabalho em equipe, empatia e compromisso com o bem comum. Os clubes realizam projetos sociais voltados 
                para necessidades reais da comunidade, como arrecadação de alimentos, campanhas de saúde, atividades educativas, ações ambientais 
                e muito mais. Além disso, os rotaractianos participam de eventos, formações e intercâmbios nacionais e internacionais, tendo a 
                oportunidade de expandir sua visão de mundo, trocar experiências com jovens de diferentes culturas e criar laços duradouros de 
                amizade.
            </p>
        </div>
    </div>
</div>